<md-dialog aria-label="">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Usuario novo</h2>
				<span flex></span>

			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Nome</label>
					<input ng-model="dataNewUser.name">
				</md-input-container>
				<md-input-container>
					<label>Username</label>
					<input ng-model="dataNewUser.username">
				</md-input-container>
				<md-input-container>
					<label>Profile</label>
					<md-select ng-model="dataNewUser.idprofile">
						<md-option ng-repeat="item in profiles" ng-value="item.id">
							{{item.description}}
						</md-option>
					</md-select>

				</md-input-container>
				<md-input-container>
					<label>Empresa</label>
					<md-select ng-model="dataNewUser.idcompany">
						<md-option ng-repeat="item in company" ng-value="item.id">
							{{item.name}}
						</md-option>
					</md-select>

				</md-input-container>
				<md-input-container>
					<label>Senha</label>
					<input ng-model="dataNewUser.password" type="password">
				</md-input-container>
				<md-input-container>
					<label>Repeat Senha</label>
					<input ng-model="dataNewUser.confirmPassword" type="password">
				</md-input-container>
				<md-input-container>
					<md-switch ng-model="dataNewUser.status">Estatus {{dataNewUser.status ? "Activo" : "Inactivo"}}</md-switch>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="hide()">
				Cancel
			</md-button>
			<md-button class="md-accent md-raised" ng-click="save()">
				Cadastro
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>