<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Usuario edição</h2>
				<span flex></span>

			</div>
		</md-toolbar>
<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Nome</label>
					<input ng-model="dataUser.name">
				</md-input-container>
				<md-input-container>
					<label>Username</label>
					<input ng-model="dataUser.username">
				</md-input-container>
				<md-input-container>
					<label>Senha</label>
					<input ng-model="dataUser.password" type="password">
				</md-input-container>
				<md-input-container>
					<md-switch ng-model="dataUser.status">Estatus {{dataUser.status ? "Activo" : "Inactivo"}}</md-switch>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button class="md-accent md-raised" ng-click="save()">
				Recadastro
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>