
<section layout="row" flex="" style="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;" >
<!-- <div  style="background-image: url('/images/fondo2.png');  width: 100%; height: 100%;   position: fixed; background-repeat: no-repeat;background-size: cover; z-index: 0"> 
-->
<div ng-controller="profiles as vm" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
  <div  layout="column">
    <p class="bar"><a href="/">Principal</a> > <a href="/profiles">Perfis</a> </p>
  </div>

  <div layout="column" ng-cloak >

    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Perfis</span>          
        </md-card-title-text>
        
      </md-card-title>

      <md-card-content style="overflow-x: auto;">

        <!-- <div layout-gt-xs="row" > -->


          <md-content layout="column" style="padding-left: 10px; width: 100%;">

            <table ng-table="vm.tableParams" class="table" show-filter="true" style="overflow-x: auto;" >
              <tr ng-repeat="profile in $data">
                
                <td title="'Description'" filter="{ description: 'text'}" sortable="'description'" valign="middle" style="text-align: center; width: 120px;">
                  <p> {{profile.description}}</p>
                </td>                
                <td title="'Vend'"      style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.sales == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td> 
                <td title="'Lin'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.routes == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Us'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.viewusers == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td> 
                <td title="'Bar'"       style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.ships == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td> 
                <td title="'Pas'"     style="text-align: center; padding-top: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.passenger == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Rep'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.reports == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Ticket'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.ticket == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'MC'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.viewmyaccount == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'VP'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.viewprofile == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CS'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.changeusers == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CS'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.changepassword == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CMA'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.changemyaccount == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CP'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.changeprofile == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'RP'"   style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.recoverypassword == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td> 
                <td title="'CB'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.newticket == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CoB'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.consultticket == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'NPT'"   style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.newpackagetourism == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CPT'"   style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.consultpackagetourism == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'NR'"   style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.newroute == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'CR'"    style="text-align: center; padding-top: 0px !important; padding-left: 0px !important;padding-right: 0px !important;">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.consultroute == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Est'"  filter="{ status: 'select'}"  filter-data="status" sortable="'status'" style="text-align: center; padding-top: 0px !important">
                  <md-button class="md-icon-button">
                    <md-icon ng-class="profile.status == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Op'" style="text-align: center;"">

                 <% if (profile.changeprofile){ %>
                 <md-button title="Launch options" aria-label="Options" class="md-icon-button launch fas fa-external-link-square-alt  fa-2x md-accent"  style="text-align: center; padding-top: 0px !important" ng-click="showAdvanced($event,profile.id)">          
                 </md-button>
                 <% } %>
               </td>
             </tr>
           </table>

         </md-content>

       <!-- </div> -->

       <md-button class="md-accent md-raised" ng-click="showDialogNew()">Novo Perfis</md-button>



     </md-card-content>
   </md-card>

 </div>
</div>

</md-content>
</section>
