<md-dialog aria-label="Barco Novo" style="width: 100%; height: 100%;">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2 style="float: left; width: 90%">Bilhete Fluvial</h2>
			
			<md-button class="md-icon-button launch" title="Fechar" aria-label="Use Android" flex style="float: right !important; text-align: center;" ng-click='hide()'>x</md-button>

		</div>
	</md-toolbar>	
	<md-dialog-content style="width: 100%; height: 97%; overflow-y: hidden !important;">
		
		<object data="{{content}}" type="application/pdf" style="width:100%;height: 100%"></object>
	</md-dialog-content>
</md-dialog>
