<md-dialog aria-label="Barco Novo">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2>Barco novo</h2>
			<span flex></span>

		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
	<md-dialog-content>
		<form ng-cloak>
			<div class="md-dialog-content">

				<div layout="row">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="name">Nome de Barco</label>
						<input type="text" name="name" ng-model="newShip.name">
					</md-input-container>
				</div>
				<div layout="row">
					<div layout="column" flex='35'>
						<md-checkbox ng-model="newShip.status_suit" aria-label="Suit" style="margin-top:20px !important">
							Suit: 
						</md-checkbox>
					</div>
					<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>

					<div layout="column" flex='60'>
						<md-input-container style="margin-bottom: 0px !important" >
							<label for="name">Cantidade lugares</label>
							<input type="number" name="name" ng-disabled="!newShip.status_suit" ng-model="newShip.cant_suit">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div layout="column" flex='35'>
						<md-checkbox ng-model="newShip.status_cabins" aria-label="Suit" style="margin-top:20px !important">
							Camarote: 
						</md-checkbox>
					</div>
					<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>
					<div layout="column" flex='60'>
						<md-input-container style="margin-bottom: 0px !important">
							<label for="name">Cantidade lugares</label>
							<input type="number" name="name" ng-disabled="!newShip.status_cabins" ng-model="newShip.cant_cabins">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div layout="column" flex='35'>
						<md-checkbox ng-model="newShip.status_generic" aria-label="Suit" style="margin-top:20px !important" >
							Lugares: 
						</md-checkbox>
					</div>
					<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>
					<div layout="column" flex='60'>
						<md-input-container style="margin-bottom: 0px !important">
							<label for="name">Cantidade lugares</label>
							<input type="number" name="name" ng-disabled="!newShip.status_generic" ng-model="newShip.cant_generic">
						</md-input-container>
					</div>
				</div>
				<md-button ng-click="saveShip()" class="md-accent md-raised" style="text-align: center;">CADASTRO</md-button>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
