<section layout="row" flex="" style="" class="resp_height" id="popupContainer">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;" >

    <div ng-controller="dash as ctrl" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <a href="/dashoard">Dashboard</a></p>
      </div>

      <div layout="column" ng-cloak>
        <md-card >
       <!--  <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Linhas e Cidades</span>

          </md-card-title-text>
        </md-card-title>
      -->
      <md-card-content style="padding-top: 1px !important; padding-left: 0px; padding-right: 0px;">

        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
          <md-tab label="Dashboard">
                     
           <md-content class="md-padding" layout-gt-xs="row">
            <div layout="column" flex-gt-xs="35" style=" min-height: 390px; margin-bottom: 5px">
               
              

            </div>
            <div layout="column" flex-gt-xs="65" style="padding-left: 10px;">

              <md-content flex="100">

              
             </md-content>

           </div>

         </md-content>
         <!-- <md-button class="md-raised md-accent" style="float:right" ng-click="next()"> Proximo</md-button> -->
       </md-tab>
       <!-- <md-tab label="Chart" ng-disabled="!(selectedIndex===1)">
        <md-content class="md-padding" layout="column" >
          <div layout-gt-xs="row" ng-if="status.generic">

            <div layout="column" style="" flex-gt-xs="50" id="chartContent1" >
              <label for="pie1" style="text-align: center;" > Vendas {{shipSel.name}}</label>
              <p  style="text-align: center;" > {{linhaSel.description}} - {{dateSelected | date:"dd/MM/yyyy"}}</p>
              <canvas id="pie1" class="chart chart-pie"
              chart-data="data1" chart-labels="labels" chart-options="options">
            </canvas> 
          </div>


        </div>
        
  </md-content>
  <md-button class="md-raised md-accent" style="float:left" ng-click="prev()"> Anterior</md-button>
</md-tab> -->
</md-tabs>
</md-card-content>

</md-card>
</div>
</div>
</md-content>
</section>''