<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Perfis edição</h2>
				<span flex></span>

			</div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="padding_bottom">
					<label>Descripcion</label>
					<input ng-model="dataProfile.description">
				</md-input-container>

				<table class="padding_bottom">	
					<tr ng-class="padding_bottom">
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.viewusers">Usuarios (US)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.recoverypassword">Recuperar Senha (RS)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.sales">Vendas (Vend)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.routes">Linhas	(Lin)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.ships">Barcos	(Bar)</md-switch>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.changeusers">Edicao Usuarios (EU)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.changepassword">Troca Senha(TS)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container ng-class="padding_bottom">
								<md-switch ng-model="dataProfile.passenger">Passageiros	(Pas)</md-switch>
							</md-input-container ng-class="padding_bottom">
						</td>
						
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.newticket">Criar Bilhete(CB)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.consultticket">Consultar Bilhete(CoB)</md-switch>
							</md-input-container>
						</td>
						
					</tr>
					<tr>

						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.newpackagetourism">Vender Pacote turístico(NPT)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.consultpackagetourism">Consultar Pacote turistico</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.newroute">Rota linha</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.consultroute">Consultar linha</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.salescaptain">Vendas Capitao</md-switch>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.reports">Relatorios (Rel)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.viewmyaccount">Ver minha conta(MC)</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.changuemyaccount">Consultar linha</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.viewprofile">Perfis</md-switch>
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<md-switch ng-model="dataProfile.status">Estatus {{dataProfile.status ? "Activo" : "Inactivo"}}</md-switch>
							</md-input-container>
						</td>
					</tr>



				</table>

			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button class="md-accent md-raised" ng-click="save()">
				Recadastro
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
<style>

</style>