<md-dialog aria-label="">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Perfis novo</h2>
				<span flex></span>

			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Description</label>
					<input ng-model="dataNewProfile.description">
				</md-input-container>
			
				<md-input-container>
					<md-switch ng-model="dataNewProfile.status">Estatus {{dataNewProfile.status ? "Activo" : "Inactivo"}}</md-switch>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="hide()">
				Cancel
			</md-button>
			<md-button class="md-accent md-raised" ng-click="save()">
				Cadastro
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>