<!DOCTYPE html>
<html ng-app="hiande" ng-cloak>
<head>

  
  <title><%=typeof title == 'undefined' ? 'Hiande Turismo' : title%></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/images/icon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/css/angular-material-calendar.min.css">
  <link rel="stylesheet" href="/styles/css/angular-material.min.css">
  <link rel="stylesheet" href="/styles/css/general.css">
  <link rel="stylesheet" href="/styles/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/styles/css/jquery-ui.multidatespicker.css">
  <link rel="stylesheet" href="/styles/css/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="/styles/css/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/styles/css/ng-table.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/webfonts/fontawesome-all.min.css">
  <!--STYLES END-->
  
</head>
<%- partial('template/navbar.ejs') %>
<body flex ng-controller="appCtrl">


  <%- body %>


</body>
<%- partial('template/footer.ejs') %>

<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script> -->
 <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTDn3o4q2qlSo5-ijAw0IGkALOk6_IV5Y&callback=initMap">
    </script> -->
    <!-- AIzaSyDilKsYxPa2nmKyoPhL0Re0DO41D6N0NCU -->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/ang-Chart.min.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/angular-aria.min.js"></script>
<script src="/js/dependencies/angular-chart.js"></script>
<script src="/js/dependencies/angular-cookies.min.js"></script>
<script src="/js/dependencies/angular-loader.min.js"></script>
<script src="/js/dependencies/angular-locale_pt-br.js"></script>
<script src="/js/dependencies/angular-material-calendar.js"></script>
<script src="/js/dependencies/angular-material.min.js"></script>
<script src="/js/dependencies/angular-message-format.min.js"></script>
<script src="/js/dependencies/angular-messages.min.js"></script>
<script src="/js/dependencies/angular-mocks.js"></script>
<script src="/js/dependencies/angular-parse-ext.min.js"></script>
<script src="/js/dependencies/angular-resource.min.js"></script>
<script src="/js/dependencies/angular-route.min.js"></script>
<script src="/js/dependencies/angular-sanitize.min.js"></script>
<script src="/js/dependencies/angular-touch.min.js"></script>
<script src="/js/dependencies/angular-web-notification.js"></script>
<script src="/js/dependencies/angular-web-notification2.js"></script>
<script src="/js/dependencies/highcharts.js"></script>
<script src="/js/dependencies/jquery-3.3.1.min.js"></script>
<script src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/dependencies/jquery-ui.multidatespicker.js"></script>
<script src="/js/dependencies/ng-table.min.js"></script>
<script src="/js/dependencies/notify.min.js"></script>
<script src="/js/dependencies/xporting.js"></script>
<script src="/js/angular-bootstrap-ui/ui-bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/account.js"></script>
<script src="/js/controllers/captain.js"></script>
<script src="/js/controllers/dashboard.js"></script>
<script src="/js/controllers/destination.js"></script>
<script src="/js/controllers/forms.js"></script>
<script src="/js/controllers/passengers.js"></script>
<script src="/js/controllers/profiles.js"></script>
<script src="/js/controllers/report.js"></script>
<script src="/js/controllers/sales.js"></script>
<script src="/js/controllers/ship.js"></script>
<script src="/js/controllers/ticket.js"></script>
<script src="/js/controllers/users.js"></script>
<script src="/js/login.js"></script>
<script src="/js/main.js"></script>
<script src="/js/register.js"></script>
<script src="/js/templates/footer.js"></script>
<script src="/js/templates/navbar.js"></script>
<script src="/js/templates/sidebar.js"></script>
<!--SCRIPTS END-->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> -->

</html>
