  <div  style="background-image: url('/images/fondo.png');  width: 100%; height: 85%;   position: absolute; background-repeat: no-repeat;background-size: cover; ">
 <div flex style="overflow-y: auto;  " ng-controller="login" class="md-padding" id="popupContainer" ng-init="showAdvanced($event)" ng-cloak>

</div>

  