
<section layout="row" flex="" style="" class="resp_height">
  <%- partial('template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;">

    <div ng-controller="main" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a> ></p>
      </div>
      <% if (profile.viewdashboard){ %>
      <div class="md-whiteframe-2dp contenedor">
       <md-toolbar class="">
         <p class="md-toolbar-tools">DASHBOARD</p>
       </md-toolbar>
       <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadDash"></md-progress-linear>
       <md-list flex>
        <md-list-item class="md-2-line" ng-click="navigateTo('/dashboard'); loadDash=true">

         <div class="md-list-item-text" layout="column">

          <h3><i class="fas fa-chart-pie fa-2x"></i>  Dashboard</h3>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <% } %>
  
  <% if (profile.sales){ %>
  <div class="md-whiteframe-2dp contenedor">
   <md-toolbar class="">
     <p class="md-toolbar-tools">VENDAS</p>
   </md-toolbar>
   <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadSale"></md-progress-linear>
   <md-list flex>
    <md-list-item class="md-2-line" ng-click="navigateTo('/tickets'); loadSale=true">

     <div class="md-list-item-text" layout="column">

      <h3><i class="far fa-money-bill-alt fa-2x"></i>  Vendas</h3>
    </div>
  </md-list-item>
</md-list>

</div>
<% } %>
<% if (profile.routes){ %>
<div class="md-whiteframe-2dp contenedor">
 <md-toolbar class="">
   <p class="md-toolbar-tools">LINHAS</p>
 </md-toolbar>
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadRoute"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/destinations'); loadRoute=true">

   <div class="md-list-item-text" layout="column">
    <h3><i class="fas fa-globe fa-2x"></i> Linhas</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% } %>
<% if (profile.ships){ %>
<div class="md-whiteframe-2dp contenedor " style="">
  <md-toolbar class="">
   <p class="md-toolbar-tools">BARCOS</p>
 </md-toolbar>  
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadShip"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/ships'); loadShip=true">

   <div class="md-list-item-text" layout="column">
    <h3><i class="fas fa-ship fa-2x"></i>Barcos</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% }%> 
<% if (profile.passenger){ %>
<div class="md-whiteframe-2dp contenedor" style="">
  <md-toolbar class="">
   <p class="md-toolbar-tools">PASSAGEIROS</p>
 </md-toolbar>  
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadPass"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/passengers'); loadPass=true">

   <div class="md-list-item-text" layout="column">

    <h3><i class="fas fa-id-card fa-2x"></i> Passageiros</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% } %>
<% if (profile.salescaptain){ %>
<div class="md-whiteframe-2dp contenedor" style="">
  <md-toolbar class="">
   <p class="md-toolbar-tools">Vendas Capitan</p>
 </md-toolbar>  
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadSCap"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/captain'); loadRoute=true">
   <div class="md-list-item-text" layout="column">
    <h3><i class="fas fa-anchor fa-2x"></i> Capitan</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% } %>

<% if (profile.reports){ %>
<div class="md-whiteframe-2dp contenedor" style="">
 <md-toolbar class="">
   <p class="md-toolbar-tools">RELATÓRIOS</p>
 </md-toolbar>
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadReport"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/report'); loadReport=true">
   <div class="md-list-item-text" layout="column">
    <h3><i class="far fa-file-alt fa-2x"></i> Relatórios</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% } %>
<% if (profile.form){ %>
<div class="md-whiteframe-2dp contenedor" style="">
 <md-toolbar class="">
   <p class="md-toolbar-tools">FORMULARIOS</p>
 </md-toolbar>
 <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadForms"></md-progress-linear>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="navigateTo('/forms'); loadForms=true">
   <div class="md-list-item-text" layout="column">
    <h3><i class="far fa-file-alt fa-2x"></i> Formularios</h3>
  </div>
</md-list-item>
</md-list>
</div>
<% } %>


 
</div>
</md-content>
</section>
