
<section layout="row" flex="" style="" class="resp_height">
<%- partial('template/sidebar.ejs') %>

<md-content flex="" layout-padding="" style="padding:0;">
<!-- <div  style="background-image: url('/images/fondo2.png');  width: 100%; height: 100%;   position: fixed; background-repeat: no-repeat;background-size: cover; z-index: 0"> 
 	 	 -->
 <div ng-controller="register" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
 	
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2>Cadastro</h2>
        <span flex></span>
     
      </div>
    </md-toolbar>
       <form ng-cloak style=" background-color: white;">
<md-whiteframe class="md-whiteframe-2dp" layout layout-align="center center">
 
        <div style="width: 80%;">
          
      <div layout-gt-xs="row">
        
          <md-input-container  flex-gt-xs >
            <label>Usuário</label>
            <input ng-model="login.username">
          </md-input-container>
      </div>
      <div layout-gt-xs="row">
          <md-input-container  flex-gt-xs>
            <label>Senha</label>
            <input ng-model="login.password" type="password">
          </md-input-container>
      </div> 
       <div layout-gt-xs="row">
          <md-input-container  flex-gt-xs>
            <label>Repita Senha</label>
            <input ng-model="login.confirmPassword" type="password">
          </md-input-container>
      </div>
    
  <div ng-if="response" >
    <b layout="row" layout-align="center center" class="md-padding">
      {{response}}
    </b>
  </div>
  
    <div layout-gt-xs="row">
  
     <span flex></span>
      
      <md-button ng-click="signup()" class="md-raised md-primary">
       Cadastro
      </md-button>
      <md-button ng-click="clean()" class="md-raised md-accent">
       Restaurar
      </md-button>
    </div>
        </div>
  </md-whiteframe>
  </form>

 	 </div>

</md-content>

