
<section layout="row" flex="" style="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;">
<!-- <div  style="background-image: url('/images/fondo2.png');  width: 100%; height: 100%;   position: fixed; background-repeat: no-repeat;background-size: cover; z-index: 0"> 
-->
<div ng-controller="account" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
  <div  layout="column">
    <p class="bar"><a href="/">Principal</a>  > <a>Minha Conta</a></p>
  </div>
  
  
  <div layout="column" ng-cloak >
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Informação</span>
        </md-card-title-text>
      </md-card-title>
    <md-card-content style="padding-left:3%;">
      <form >
      <!-- <md-content > -->
        
        <div layout-gt-xs="row">
          
          <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" id="sh" >
            <label>Username</label>
            <input ng-model="user.username" type="text" readonly="true" ng-disabled="true">
          </md-input-container>

          <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" id="sh" >
            <label>Empresa</label>
            <input ng-model="user.idcompany.name" type="text" readonly="true" ng-disabled="true">
          </md-input-container>

          <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" id="nm">
            <label>Nome</label>
            <input ng-model="user.name">
          </md-input-container>

        </div>
      
        <div layout-gt-xs="row">
          <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" id="sh">
            <label>Email</label>
            <input ng-model="user.email" type="email">
          </md-input-container>

          <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" id="sh">
            <label>Senha</label>
            <input ng-model="passUser" type="password">
          </md-input-container>
        </div>
   

     <md-button class="md-accent md-raised" ng-click="saveData()">Recadastrar</md-button>
      <!-- </md-content> -->

    </form>

    </md-card-content>
  </md-card>


</div>
</div>
<!-- 
</div> -->
</md-content>
</section>

<!-- <md-content style="width: 100%; height: 85%;" >
</md-content>
-->  
