<md-dialog aria-label="Barco Novo">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2>Costo Bilhete Fluvial para {{name}}</h2>
			<span flex></span>

		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
	<md-dialog-content>
		<form ng-cloak>
			<div class="md-dialog-content">

				<div layout="row" ng-if="perms.generic">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="description">Custo lugar</label>
						<input type="text" name="description" ng-model="detDest.generic">
					</md-input-container>
				</div>
				<div layout="row" ng-if="perms.cabins">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="description">Custo camarote</label>
						<input type="text" name="description" ng-model="detDest.cabins">
					</md-input-container>
				</div>
				<div layout="row" ng-if="perms.suit">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="description">Custo suit</label>
						<input type="text" name="description" ng-model="detDest.suit">
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-switch ng-model="detDest.status" aria-label="Estatus">
						Estatus
					</md-switch>
				</div>

				<div layout="row" style="align-items: center; text-align: center;">

					<md-button ng-click="saveDetDest()" class="md-accent md-raised" style="margin: auto;">Proximo</md-button>
				</div>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
