<md-dialog aria-label="Barco Novo">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2>Linha novo</h2>
			<span flex></span>

		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
	<md-dialog-content>
		<form ng-cloak>
			<div class="md-dialog-content">

				<div layout="row">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="description">Nome de Linha</label>
						<input type="text" name="description" ng-model="newRoute.description">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container style="width: 100% !important" flex>
						<label>Tipo</label>
						<md-select ng-model="newRoute.type" style="width: 100% !important">
							<md-option value="1">Interestadual</md-option>
							<md-option value="2">Local</md-option>
						</md-select>
					</md-input-container>
					
				</div>
				<div layout="row">
					<md-switch ng-model="newRoute.status" aria-label="Estatus">
						Estatus
					</md-switch>
				</div>

				<div layout="row" style="align-items: center; text-align: center;">

					<md-button ng-click="saveRoute()" class="md-accent md-raised" style="margin: auto;">CADASTRO</md-button>
				</div>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
