<md-dialog aria-label="Barco Novo">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2>Destination novo</h2>
			<span flex></span>

		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
	<md-dialog-content>
		<form ng-cloak>
			<div class="md-dialog-content">

				<div layout="row">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="description">Nome de cidade</label>
						<input type="text" name="description" ng-model="newDest.description">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container style="width: 100% !important" flex>
						<label>Estado</label>
						<md-select ng-model="newDest.state" style="width: 100% !important">
							<md-option><em>None</em></md-option>
							<md-option ng-repeat="state in states" ng-value="state.description" ng-click="selState($index)">
								{{state.description}} - ({{state.abrv}})
							</md-option>
						</md-select>
					</md-input-container>
					
				</div>
				<div layout="row">
					<md-input-container flex style="margin-bottom: 0px !important">
						<label for="abr">Abreviatura</label>
						<input type="text" name="abr" ng-model="newDest.abrvstate"  readonly="true">
					</md-input-container>
				</div>

				<div layout="row" style="align-items: center; text-align: center;">

					<md-button ng-click="saveDest()" class="md-accent md-raised" style="margin: auto;">CADASTRO</md-button>
				</div>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
