<section layout="row" flex="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;">

    <div ng-controller="report" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <a>Relatorios</a></p>
      </div>
      <div layout="column" ng-cloak >
       <md-card >
   
          <md-card-content>
            <md-tabs md-dynamic-height md-border-bottom>
             <% if (profile.reports){ %>
             <md-tab label="Administracao">
              <div layout="column">

                <div layout-gt-xs="row" style="margin-left:10px;">

                 <md-switch ng-model="filter.type_sale" aria-label="Tipo" class="md-warn"  flex='18' style="min-width: 140px !important">
                  Tipo: {{ filter.type_sale ? "Vendas" : "Cancelado" }}
                </md-switch>

                <md-input-container style="margin-left:10px;" flex-xs='100' flex-gt-xs='20' layout-xs="row">
                  <label>Barco</label>
                  <md-select ng-model="filter.ship">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="barco in ships" ng-value="barco.id" ng-click="saveIndexS($index)">
                      {{barco.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex-gt-xs='20' flex-xs='100' layout-xs="row">
                  <label>Linha</label>
                  <md-select ng-model="filter.route">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="rou in routes" ng-value="rou.id" >
                      {{rou.description}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label for="">Data inicio</label>
                  <input type="date" name="" ng-model="filter.date_i" >
                </md-input-container>
                <md-input-container>
                  <label for="">Data Fin</label>
                  <input type="date" ng-min="filter.date_i" name="" ng-model="filter.date_f">
                </md-input-container>

                <md-button style="margin-left:10px;" class="md-accent" ng-click="filterReport()">Export</md-button>

              </div>
              <div layout-gt-xs="row" style="height: 400px;">
                <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading" style="margin: auto;">
                  <md-progress-circular style="padding: auto;" md-mode="indeterminate"  md-diameter="85px"></md-progress-circular>
                </div>
                <object ng-if="!loading" data="{{content}}" type="application/pdf" style="width:100%;height: 100%"></object>
              </div>

            </div>
          </md-tab>
           <md-tab label="Vendedores">
           </md-tab>
          <% } %>
        </md-tabs>

      </md-card-content>
    </md-card>


  </div>

</md-content>
</section>
