<p>Seja Bem-Vindo <%=Name%></p>
<p>Já falta pouco</p>
<br/>
<p><em>Pressionando o seguinte link sua senha trocará a "hiande". Então entre e mude para sua segurança</em> </p>
<br/>
<p><em>O link a seguir tem um prazo maximo de 24 horas, então será inútil tentar</em> </p>
<p><a href="<%=Url%>">Clique aqui</a><br/><!-- --></p>