<md-dialog aria-label="Conecte-Se" style='width:350px;'>
  <form ng-cloak>
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Conecte-Se</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fas fa-closed" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        
        <div layout="row">
          
          <md-input-container  flex >
            <label>Usuário</label>
            <input ng-model="login.username">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container  flex>
            <label>Senha</label>
            <input ng-model="login.password" type="password">
          </md-input-container>
        </div>
      </div>

      <div ng-if="response" id="status">
        <b layout="row" layout-align="center center" class="md-padding" >
          {{response}}
        </b>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <a ng-click="hide()" href="">Recuperar senha</a>
      <span flex></span>
      <md-button ng-click="log()" class="md-raised md-primary" type="submit">
       Acesso
     </md-button>
   </md-dialog-actions>
 </form>
</md-dialog>