
<section layout="row" flex="" style="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;" >
<!-- <div  style="background-image: url('/images/fondo2.png');  width: 100%; height: 100%;   position: fixed; background-repeat: no-repeat;background-size: cover; z-index: 0"> 
-->
<div ng-controller="passengers as vm" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
  <div  layout="column">
    <p class="bar"><a href="/">Principal</a> > <a href="/passengers">Passageiros</a> </p>
  </div>

  <div layout="column" ng-cloak >

    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Passageiros</span>          
        </md-card-title-text>
        
      </md-card-title>

      <md-card-content>

        <div layout-gt-xs="row">


          <md-content layout="column" style="padding-left: 10px; width: 100%;">

            <table ng-table="vm.tableParams" class="table" show-filter="true" >
              <tr ng-repeat="user in $data">
                <td title="'Nome'" filter="{ name: 'text'}" sortable="'name'" valign="middle">
                  <p> {{user.name}}</p>
                </td>
                <td title="'Cpf'" filter="{ cpf: 'text'}" sortable="'cpf'" valign="middle" style="text-align: center;">
                {{user.cpf}}</td>
                <td title="'Identificação'" filter="{ idprofile: 'text'}" sortable="'identified'" valign="middle" style="text-align: center;">
                {{user.identified}}</td>
                <td title="'Telefone'" sortable="'Telefone'" valign="middle" style="text-align: center;">
                {{user.phone}}</td>
                <td title="'Criado'" sortable="'createdAt'" valign="middle" style="text-align: center;">
                {{user.createdAt}}</td>
                <td title="'Estatus'" filter="{ status: 'select'}"  filter-data="status" sortable="'status'" style="text-align: center; padding-top: 0px !important">
                  <md-button class="md-icon-button" aria-label="Status">
                    <md-icon ng-class="user.status == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
                  </md-button>
                </td>
                <td title="'Editar'" style="text-align: center;"">
                  <md-button title="Launch options" aria-label="Options" class="md-icon-button launch fas fa-external-link-square-alt  fa-2x md-accent"  style="text-align: center; padding-top: 0px !important" ng-click="showAdvanced($event,user.id)">                
                  </md-button>
                </td>
              </tr>
            </table>

          </md-content>

        </div>
        <md-button class="md-accent md-raised" ng-click="showDialogNew()">Novo Pessoa</md-button>


      </md-card-content>
    </md-card>

  </div>
</div>

</md-content>
</section>
