<section layout="row" flex="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;">

    <div ng-controller="forms" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <a>Formularios</a></p>
      </div>
      <div layout="column" ng-cloak >
       <md-card >

        <md-card-content>
          <md-tabs md-dynamic-height md-border-bottom>
           <% if (profile.form_dscto){ %>
           <md-tab label="Autorizaçao para Desconto">
            <div layout="column" id="form_dscto">

            <md-divider ></md-divider>
             <div layout-gt-xs="column" style="margin-left:15px; margin-top: 15px; width: 95%">
              <div layout="row" flex="100">    
                <label>IDENTIFICACAO</label>
              </div>
              <div layout-gt-xs="row">
                <md-input-container flex="100" id="id_name">
                  <label>Nome do titular</label>
                  <input type="text" ng-model="formDscto.id_name" md-auto-hide="true" required >
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container flex="100" id="id_address">
                  <label>Endereco</label>
                  <input type="text" ng-model="formDscto.id_address"  md-auto-hide="true" required >
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container flex-gt-xs="50" id="id_matricula">
                  <label>N° da Matricula</label>
                  <input type="text" ng-model="formDscto.id_matricula"  md-auto-hide="true" required >
                </md-input-container>
                <md-input-container flex-gt-xs="50" id="id_phone">
                  <label>Fone</label>
                  <input type="text" ng-model="formDscto.id_phone"  md-auto-hide="true" required >
                </md-input-container>
                <md-input-container flex-gt-xs="50" id="id_identified">
                  <label>Identidade</label>
                  <input type="text" ng-model="formDscto.id_identifies"  md-auto-hide="true" required >
                </md-input-container>
                </div>
              <div layout-gt-xs="row">
                <md-input-container flex-gt-xs="50" id="id_cpf">
                  <label>CPF</label>
                  <input type="text" ng-model="formDscto.id_cpf"  md-auto-hide="true" required >
                </md-input-container>
                <md-input-container flex-gt-xs="50" id="id_lot">
                  <label>Lotacao</label>
                  <input type="text" ng-model="formDscto.id_lot"  md-auto-hide="true" required >
                </md-input-container>
                <md-input-container flex-gt-xs="50" id="id_email">
                  <label>e-mail</label>
                  <input type="text" ng-model="formDscto.id_email"  md-auto-hide="true" required >
                </md-input-container>
              </div>
            </div>
            <md-divider ></md-divider>
            <div layout-gt-xs="column" style="margin-left:15px; margin-top: 15px; width: 95%">
              <div layout="row" flex="100">  
              <label>SITUACAO CONTRATUAL</label>
            </div>
            <div layout="row">
              
              <div flex="30">
                <md-checkbox ng-model="formDscto.efetivo" aria-label="Efetivo">
                  Efetivo
                </md-checkbox>
              </div>
              <div flex="30">
                <md-checkbox ng-model="formDscto.rda" aria-label="RDA">
                  RDA
                </md-checkbox>
              </div>
              <div flex="30">
                <md-checkbox ng-model="formDscto.comisionado" aria-label="Comisionado">
                  Comisionado
                </md-checkbox>
              </div>
            </div>
            </div>
            <md-divider ></md-divider>
            <div layout-gt-xs="column" style="margin-left:15px;margin-top: 15px; width: 95%">
             <div layout="row" flex="100">    
              <label>DADOS DA COMPRA</label>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="dat_product">
                <label>Produto</label>
                <input type="text" ng-model="formDscto.dat_product"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="dat_passenger">
                <label>N° de Passageiros</label>
                <input type="number" ng-model="formDscto.dat_passenger"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="dat_datestart">
                <label>Data da saida</label>
                <input type="date" ng-model="formDscto.dat_datestart"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="dat_dateend">
                <label>Data da Chegada</label>
                <input type="date" ng-model="formDscto.dat_dateend"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="dat_total">
                <label>Valor Total</label>
                <input type="text" ng-model="formDscto.dat_total"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="dat_parc">
                <label>N° de Parcelas</label>
                <input type="text" ng-model="formDscto.dat_parc"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="dat_valueparc">
                <label>Valor da Parcela</label>
                <input type="text" ng-model="formDscto.dat_valueparc"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="dat_venc">
                <label>Vencimiento</label>
                <input type="text" ng-model="formDscto.dat_venc"  md-auto-hide="true" required >
              </md-input-container>
            </div>
          </div>
          <div layout-gt-xs="column" style="margin-left:15px;margin-top: 15px; width: 95%">
            <div layout="row" flex="100">                  
              <label>RELACAO DOS PASSAGEIROS</label>
            </div>
            <div layout-gt-xs="column">
              <md-input-container flex="100" id="re_name1">
                <label>Nome</label>
                <input type="text" ng-model="formDscto.re_name1"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="re_identified1">
                <label>Identidade</label>
                <input type="text" ng-model="formDscto.re_identified1"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="re_datenasc">
                <label>Data Nasc</label>
                <input type="date" ng-model="formDscto.re_datenasc"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="column">
              <md-input-container flex="100" id="re_name2">
                <label>Nome</label>
                <input type="text" ng-model="formDscto.re_name2"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="re_identified2">
                <label>Identidade</label>
                <input type="text" ng-model="formDscto.re_identified2"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="re_datenasc2">
                <label>Data Nasc</label>
                <input type="date" ng-model="formDscto.re_datenasc2"  md-auto-hide="true" required >
              </md-input-container>
            </div> 
            <div layout-gt-xs="column">
              <md-input-container flex="100" id="re_name3">
                <label>Nome</label>
                <input type="text" ng-model="formDscto.re_name3"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="re_identified3">
                <label>Identidade</label>
                <input type="text" ng-model="formDscto.re_identified3"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="re_datenasc3">
                <label>Data Nasc</label>
                <input type="date" ng-model="formDscto.re_datenasc3"  md-auto-hide="true" required >
              </md-input-container>
            </div> 
            <div layout-gt-xs="column">
              <md-input-container flex="100" id="re_name4">
                <label>Nome</label>
                <input type="text" ng-model="formDscto.re_name4"  md-auto-hide="true" required >
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex-gt-xs="50" id="re_identified4">
                <label>Identidade</label>
                <input type="text" ng-model="formDscto.re_identified4"  md-auto-hide="true" required >
              </md-input-container>
              <md-input-container flex-gt-xs="50" id="re_datenasc4">
                <label>Data Nasc</label>
                <input type="date" ng-model="formDscto.re_datenasc4"  md-auto-hide="true" required >
              </md-input-container>
            </div> 

          </div>

          <div layout-gt-xs="row" style="margin-left:10px;">
            <md-button class="md-primary md-raised" style="float:right" ng-click=" showConfirm($event);">Cadastrar</md-button>
            <md-button class="md-accent md-raised"  style="float:right" ng-click="restoreForm()">Restaurar</md-button>
          </div>
            <md-divider ></md-divider>
            <h4 style="margin-top: 15px">List Formatos</h4>
          <div layout-gt-xs="row" style="height: 400px; margin-top: 15px">
            <table ng-table="vm.tableParams" class="table" show-filter="true" >
          <tr ng-repeat="user in $data" >
            <td title="'ID'" filter="{ id: 'text'}" sortable="'id'" valign="middle" style="text-align: center;">
              <p> {{user.cod_ticket}}</p>
            </td>
            <td title="'Data Sair'" filter="{ 'data_travel': 'text'}" sortable="'date_travel'" valign="middle" style="text-align: center;">{{user.date_travel | date:'dd/MM/yyyy' }}</td>
            <td title="'Hora Sair'" filter="{ 'time_travel': 'text'}" sortable="'time_travel'" valign="middle" style="text-align: center;">{{user.time_travel |date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
            <td title="'Criado'" sortable="'createdAt'" valign="middle" style="text-align: center;">
            {{user.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
            <td title="'Estatus'" filter="{ status: 'select'}"  filter-data="st" sortable="'status'" style="text-align: center; padding-top: 0px !important">
              <md-button class="md-icon-button"  aria-label="Bilhete">
                <md-icon ng-class="user.status == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
              </md-button>
            </td>
           <td title="'Ver'" style="text-align: center;"">
            <md-button flex title="Launch options" aria-label="Options" class="md-icon-button launch fas fa-external-link-square-alt  fa-2x md-accent"  style="text-align: center; padding-top: 0px !important" ng-click="viewTicket(user.id)">                
            </md-button>
          </td>
        </tr>
      </table>
            
          </div>

        </div>
      </md-tab>
      <% } %>
      <md-tab label="Other">
      </md-tab>
    </md-tabs>

  </md-card-content>
</md-card>


</div>

</md-content>
</section>
