<section layout="row" flex="" style="" class="resp_height" id="popupContainer">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;" >

    <div ng-controller="destination as ctrl" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <a href="/destination">Linhas</a></p>
      </div>

      <div layout="column" ng-cloak >
        <md-card >
       <!--  <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Linhas e Cidades</span>

          </md-card-title-text>
        </md-card-title>
      -->
      <md-card-content style="padding-top: 1px !important; padding-left: 0px; padding-right: 0px;">
       <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Linhas e cidades">
          <md-content class="md-padding">


           <div layout-gt-xs="row" style=" min-height: 390px !important;">
            <div layout-gt-xs="column" flex-gt-xs="35" style=" min-height: 390px; margin-bottom: 5px">

              <md-content  flex-gt-xs="50"  style=" margin-right: 10px;" class="md-whiteframe-4dp">
                <md-button class="md-fab md-mini md-fab-bottom-right" style="transform: scale(1); transition: transform 0.9s linear; position:absolute !important;" ng-click="showNewRoute($event)" aria-label="Use Android">
                  <i class="fas fa-plus fa-2x"></i>
                </md-button> 
                <md-subheader class=  "md-no-sticky" >Linha: {{linhaSel.description}}</md-subheader>

                <md-content  flex-gt-xs>

                  <md-list class="md-dense"  style="max-height: 145px !important;">
                    <md-divider ></md-divider>
                    <md-list-item class="md-2-line" ng-repeat="item in linhas" ng-click="selectLinhas($index)" >
                      <div class="md-list-item-text" layout="column" >
                        <h3>{{ item.description }}</h3>
                        <!-- <p>{{ item.identified }}</p> -->
                      </div>
                      <md-divider ></md-divider>
                    </md-list-item>
                  </md-list>


                </md-content>
              </md-content>
              <md-content  flex-gt-xs="50"  style="margin-top: 5px;height: 145px; margin-right: 10px" class="md-whiteframe-4dp">  

                <md-subheader class="md-no-sticky">Barco: {{shipSel.name}}</md-subheader>
                <md-divider></md-divider>
                <md-content  flex-gt-xs>
                  <md-list class="md-dense" style="max-height: 145px !important;">

                    <md-list-item class="md-2-line" ng-repeat="item in ship" ng-click="selectShip($index)">
                      <div class="md-list-item-text" layout="column" >
                        <h3>{{ item.name }}</h3>
                        <!-- <p>{{ item.identified }}</p> -->
                      </div>
                      <md-divider></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-content>

            </div>
            <md-content layout="column" flex-gt-xs="50" class="md-whiteframe-4dp" style="padding-left: 10px;">
              <h2 class="md-title">Cidades</h2>
              <md-button class="md-fab md-mini md-fab-bottom-right" style="transform: scale(1); transition: transform 0.9s linear; position:absolute !important;" ng-click="showNewDestination($event)" aria-label="Use Android">
               <i class="fas fa-plus fa-2x"></i>
             </md-button> 
             <div flex="40" style="width: 100%; margin-bottom: 10px;">

              <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap="" md-transform-chip="ctrl.transformChip($chip)" md-require-match="ctrl.autocompleteDemoRequireMatch" md-on-select="showDetailDest($event,$chip)">
                <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.description" placeholder="Procure a cidade">
                  <span md-highlight-text="ctrl.searchText">{{item.description}} :: {{item.abrvstate}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <strong>N°{{$index+1}}-{{$chip.description}}</strong>
                    <em>({{$chip.abrvstate}})</em>
                  </span>
                </md-chip-template>
              </md-chips>
            </div>

            <div style="height: 200px;width: 100%; overflow-y:auto" flex="60"> 
               <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loadDestination" style="margin: auto;">
                  <md-progress-circular style="padding: auto;" md-mode="indeterminate"  md-diameter="85px"></md-progress-circular>
            </div>



              <div class="md-whiteframe-2dp content_city" style="float:left;" ng-repeat="city in dest">
                <md-list flex style="float:left;  margin-top: 5px !important ">
                  <md-list-item class="md-2-line "  layout="row" layout-wrap="">
                    <div class="md-item-text" flex="">
                      <strong>{{city.description}}</strong>
                      <p>({{city.abrvstate}})</p>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>

           <br>
         </md-content>
             <div layout="column" flex-gt-xs="15" style="padding-left: 3px;">
             
             <md-input-container >
               <label for="hour">Hora da saída</label>
               <input type="text" name="hour" ng-model="hourstart" >
             </md-input-container>
             <md-input-container>
               <label for="hourc">Hora da chegada</label>
               <input type="text" name="hourc" ng-model="hourend" >
             </md-input-container>
           </div>
       </div>
       <md-button class="md-primary md-raised" ng-click="saveRoutes()">Cadastrar</md-button>


     </md-content>
   </md-tab>

   <md-tab label="Saídas">

    <md-content class="md-padding" layout-xs="column" layout-gt-xs="row">


      <div layout-gt-xs="column" flex-gt-xs="35" style=" min-height: 390px; margin-bottom: 5px">

        <md-content  flex-gt-xs="50"  style=" margin-right: 10px" class="md-whiteframe-4dp">  

          <md-subheader class="md-no-sticky">Barco: {{shipSel.name}}</md-subheader>
          <md-divider></md-divider>
          <md-content  flex-gt-xs>
            <md-list class="md-dense" style="max-height: 145px !important;">

              <md-list-item class="md-2-line" ng-repeat="item in ship" ng-click="selectShip($index)" >
                <div class="md-list-item-text" layout="column" >
                  <h3>{{ item.name }}</h3>
                  <!-- <p>{{ item.identified }}</p> -->
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-content>
        </md-content>

        <md-content  flex-gt-xs="50"  style="margin-top: 5px;height: 145px; margin-right: 10px;" class="md-whiteframe-4dp">
          <md-button class="md-fab md-mini md-fab-bottom-right" style="transform: scale(1); transition: transform 0.9s linear; position:absolute !important;" ng-click="showNewRoute($event)" aria-label="Use Android">
            <i class="fas fa-plus fa-2x"></i>
          </md-button> 
          <md-subheader class=  "md-no-sticky" >Linha: {{linhaSel.description}}</md-subheader>
          <md-divider></md-divider>

          <md-content  flex-gt-xs>

            <md-list class="md-dense"  style="max-height: 145px !important;">
              <md-divider ></md-divider>
              <md-list-item class="md-2-line" ng-repeat="item in linhas" ng-click="selectLinhas($index)" >
                <div class="md-list-item-text" layout="column" >
                  <h3>{{ item.description }}</h3>
                  <!-- <p>{{ item.identified }}</p> -->
                </div>
                <md-divider ></md-divider>
              </md-list-item>
            </md-list>


          </md-content>
        </md-content>


      </div>
      <div  layout-gt-xs="row" flex-gt-xs="65" style="padding-left: 10px;">

        <md-content flex="100">

         <calendar-md flex layout layout-fill
         calendar-direction="direction"
         on-prev-month="prevMonth"
         on-next-month="nextMonth"
         on-day-click="dayClick"
         week-starts-on="weekStartsOn"
         no-of-days="30"
         title-format="'MMMM y'"
         ng-model='selectedDate'
         data-start-month="2"
         data-start-year="2018"
         tooltips="tooltips"
         day-format="dayFormat"
         day-label-format="'EEE'"
         day-label-tooltip-format="'EEEE'"
         day-tooltip-format="'fullDate'"
         day-content=""
         disable-future-selection="false"
         ></calendar-md>
       </md-content>

     </div>


   </md-content>
   <md-button class="md-raised md-accent" ng-click="saveDates()"> Cadastrar</md-button>
 </md-tabs>
</md-card-content>
</md-card>

</div>
</div>

</md-content>
</section>
<style type="text/css" media="screen">
.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 14%;
  box-sizing: border-box;
  padding: 2.5px 5px; }

  .chipsdemoCustomInputs .veggie-option .md-item-text {
    padding: 5px;
    background: #f0f0f0;
    border-radius: 3px; }

    .chipsdemoCustomInputs .veggie-option .md-item-text h3,
    .chipsdemoCustomInputs .veggie-option .md-item-text p {
      padding: 0;
      margin: 0; }

    </style>