
<section layout="row" flex="" style="" class="resp_height">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;">
<!-- <div  style="background-image: url('/images/fondo2.png');  width: 100%; height: 100%;   position: fixed; background-repeat: no-repeat;background-size: cover; z-index: 0"> 
-->
<div ng-controller="sales" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
  <div  layout="column">
    <p class="bar"><a href="/">Principal</a>  > <a>Vendas</a></p>
  </div>
  <div class="md-whiteframe-2dp contenedor" >
   <md-toolbar class="">
     <p class="md-toolbar-tools">BILHETE</p>
   </md-toolbar>
   <md-list flex>
    <md-list-item class="md-2-line" ng-click="navigateTo('/ticket')">
      
      <div class="md-list-item-text" layout="column">
       <h3>Novo e Consulta</h3>
     </div>
   </md-list-item>
 </md-list>

</div>

<div class="md-whiteframe-2dp contenedor">
 <md-toolbar class="">
   <p class="md-toolbar-tools">Pacote turístico</p>
 </md-toolbar>
 <md-list flex>
  <md-list-item class="md-2-line" ng-click="null">
    
   <div class="md-list-item-text" layout="column">
    <h3>Venda e Consulta</h3>
  </div>
</md-list-item>
</md-list>
</div>

</div>
<!-- 
</div> -->
</md-content>
</section>

<!-- <md-content style="width: 100%; height: 85%;" >
</md-content>
-->  
