<section layout="row" flex="" style="" class="resp_height" id="popupContainer">
  <%- partial('../template/sidebar.ejs') %>
  <md-content flex="" layout-padding="" style="padding:0;" >

    <div ng-controller="ticket as vm" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 110%; bottom: 0px !important;  background-size:100% auto;">

      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <!-- <a href="/sale">Vendas</a> > --> <a>Vendas</a></p>
      </div>

      <div layout="column" ng-cloak >
      <!--   <md-toolbar class="md-accent">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Bilhetes</h2>
          </div>
        </md-toolbar> -->

        <md-card >
          <md-card-title style="padding-bottom: 0px">
            <md-card-title-text >
              <span class="md-headline">Bilhetes</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
             <% if (profile.newticket){ %>
             <md-tab label="Linha">
              <div layout-gt-xs="row">
                <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40"  flex="40" id="ro">
                  <label>*Linha</label>
                  <md-select ng-model="bil.route">
                    <md-option ng-click="saveIndex(-1)"><em>None</em></md-option>
                    <md-option ng-repeat="linha in linhas" ng-value="linha.id" ng-click="saveIndexL($index)">
                      {{linha.description}}
                    </md-option>
                  </md-select>
                  <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadRoute"></md-progress-linear>
                </md-input-container>

                <md-input-container  flex-xs="100" flex-sm="50" flex-md="60" flex-lg="60" flex="60" style="margin-top: 0px !important; ">
                  <md-card-content style="padding-top: 3px !important; padding-bottom: 1px !important">
                    <p style="font-weight: bold"> Escalas: </p>
                  </md-card-content >
                  <md-chips ng-model="escalas" name="Escalas" 
                  md-removable="false"  md-on-select="getChipInfo($chip)" placeholder="" style="position:fixed;max-height: 80px; overflow-y: auto">
                  <md-chip-template>
                    <strong>{{::$chip.description}}</strong>
                    <em>({{::$chip.abrvstate}})</em>
                  </md-chip-template>
                </md-chips>

              </md-input-container>

            </div>


            <div layout-gt-xs="row" >

             <md-input-container flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40" flex="40" id="sh">
              <label>*Barco</label>
              <md-select ng-model="bil.ship" >
                <md-option ng-click="saveIndex(-1)"><em>None</em></md-option>
                <md-option ng-repeat="barc in barcos" ng-value="barc.id" ng-click="saveIndexB($index)">
                  {{barc.name}}
                </md-option>
              </md-select>
              <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loadShip"></md-progress-linear>
            </md-input-container>

          </div>

          <div layout-gt-xs="row" style="max-height: 374px">
            <md-content flex-xs="100" flex-sm="60" flex-md="60" flex-lg="60" flex="60" id="da">

             <calendar-md flex layout layout-fill
             calendar-direction="direction"
             on-prev-month="prevMonth"
             on-next-month="nextMonth"
             on-day-click="dayClick"
             week-starts-on="weekStartsOn"
             no-of-days="30"
             title-format="'MMMM y'"
             ng-model='selectedDate'
             data-start-month="5"
             data-start-year="2018"
             tooltips="tooltips"
             day-format="dayFormat"
             day-label-format="'EEE'"
             day-label-tooltip-format="'EEEE'"
             day-tooltip-format="'fullDate'"
             day-content=""
             disable-future-selection="false"
             ></calendar-md>
           </md-content>

           <div layout="column" flex-xs="100" flex-sm="50" flex-md="40" flex-lg="40">

             <md-input-container style="margin-top: -1px !important;" flex-xs="100"  >
              <md-card-content style="padding-top: 3px !important; " id="dt">
                <p style="font-weight: bold">Estatus Barco: </p>
                <md-radio-group ng-model="bil.detail_ship" ng-change="pre()">

                  <md-radio-button value="3" ng-disabled="!status.suit">Suit - Capacidade : <strong>{{cant.suit|| '0'}}</strong> - Disponível:<strong>{{disp_ticket.suit || '0'}}</strong></md-radio-button>
                  <md-radio-button value="2" ng-disabled="!status.cabin" class="md-primary"> Camarote - Capacidade : <strong>{{cant.cabin || '0'}}</strong> - Disponível:<strong>{{disp_ticket.cabins || '0'}}</strong></md-radio-button>
                  <md-radio-button value="1" ng-disabled="!status.lugar" class="md-primary">Lugares - Capacidade : <strong>{{cant.lugar || '0'}}</strong> - Disponível:<strong>{{disp_ticket.generic || '0'}}</strong></md-radio-button>

                </md-radio-group>
              </md-card-content>
            </md-input-container>
            <md-whiteframe class="md-whiteframe-1dp" flex-xs="100"  layout layout-align="center center" style="height: 202px; margin-left: 16px;">

              <table border="1" width="100%" height="100%">
                <th colspan="4"> Preliminar</th>
                <tr>

                  <td width="31px">Saída:</td>
                  <td >{{preliminar.date.ini | date}} - {{preliminar.date.time}}</td>
                  <td width="31px">Chegada:</td>
                  <td >{{preliminar.date.end | date}} - {{preliminar.date.time_return}}</td>
                </tr>
                <tr>

                  <td width="31px">De:</td>
                  <td>{{preliminar.origin.name}}</td>
                  <td width="51px">Para:</td>
                  <td>{{preliminar.destination.name}}</td>
                </tr>
                <tr>

                  <td width="31px">Classe: </td>
                  <td>{{preliminar.type.class}}</td>
                  <td width="51px">Custo:</td>
                  <td>{{preliminar.type.cost | currency:"R$"}} </td>
                </tr>
              </table>
            </md-whiteframe>
          </div>

        </div>
        <br>
        <md-button class="md-accent md-raised" style="float:right" ng-click="next()">Próximo</md-button>
      </md-tab>
      <md-tab label="Passageiro" ng-disabled="!(selectedIndex===1)">
        <form name="userForm">

          <div layout-gt-xs="row">
            <md-input-container flex-gt-xs="50" id="na">
              <label>Nome</label>
              <input type="text" ng-model="user.name" name="name" md-auto-hide="true" required ng-keyup="qrySearch(); ">
            </md-input-container>

            <div flex-gt-xs="50" layout-gt-xs="row">

              <md-input-container flex-gt-xs="50" id="cpf">
                <label>CPF</label>
                <input ng-model="user.cpf" type="text" md-maxlength="15" md-auto-hide="true" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
              </md-input-container> 

              <md-input-container flex-gt-xs="50" id="ident">
                <label>Identificação</label>
                <input ng-model="user.identified" type="text" md-maxlength="15" md-auto-hide="true" >
              </md-input-container> 
            </div>
          </div>
          <div layout-gt-xs="row">
            <md-content  flex-gt-xs="50"  style=" margin-right: 20px" class="md-whiteframe-1dp">
              <md-subheader class="md-no-sticky">Selecione um passageiro:</md-subheader>
              <md-list class="md-dense" style="height: 200px;">
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="selectPassenger(-1)">
                  <div class="md-list-item-text" layout="column" >
                    <h4>None</h4>
                  </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-repeat="item in passengers" ng-click="selectPassenger($index)" >
                  <div class="md-list-item-text" layout="column" >
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.cpf || item.identified }}</p>
                  </div>
                  <md-divider ></md-divider>
                </md-list-item>
              </md-list>
            </md-content>

            <md-input-container flex-gt-xs="50" id="add">
              <label>*Endereço</label>
              <textarea ng-model="user.address" md-maxlength="150" rows="7" md-select-on-focus></textarea>
            </md-input-container>

          </div>
          <br>
          <div layout-gt-xs="row">
            <md-input-container flex-gt-xs="33" id="bd">
              <label>*Data Nascimento</label>
              <input ng-model="user.birthdate" md-max-date="now" type="date" md-placeholder="Enter date">
            </md-input-container>
            <md-input-container flex-gt-xs="33" id="ph">
              <label>Telefono</label>
              <input ng-model="user.phone">
            </md-input-container>
            <md-input-container flex-gt-xs="33" id="em">
              <label>Email</label>
              <input ng-model="user.email">
            </md-input-container>
          </div>
        </form>


        <md-button class="md-primary md-raised" style="float:right" ng-click=" showConfirm($event);">Cadastrar</md-button>
        <md-button class="md-accent md-raised"  style="float:right" ng-click="restoreTicket()">Restaurar</md-button>
        <!-- <object data="{{content}}" type="application/pdf" style="width:100%;height:80%"></object> -->
      </md-tab>
      <% } %>
      <% if (profile.consultticket){ %>
      <md-tab label="Consulta" md-on-select="init_ticket()">
        <md-content>

         <table ng-table="vm.tableParams" class="table" show-filter="true" >
          <tr ng-repeat="user in $data" >
            <td title="'ID'" filter="{ id: 'text'}" sortable="'id'" valign="middle" style="text-align: center;">
              <p> {{user.cod_ticket}}</p>
            </td>
            <td title="'Passageiro'" filter="{ 'idpassenger.name': 'text'}" sortable="'idpassenger.name'" valign="middle">
              <p> {{user.idpassenger.name}}</p>
            </td>
            <td title="'Barco'" filter="{ 'idship.name': 'text'}" sortable="'idship.name'" valign="middle" style="text-align: center;">
            {{user.idship.name}}</td>
            <td title="'Linha'" filter="{ 'idroute.description': 'text'}" sortable="'idprofile'" valign="middle" style="text-align: center;">
            {{user.idroute.description}}</td>
            <td title="'Data Sair'" filter="{ 'data_travel': 'text'}" sortable="'date_travel'" valign="middle" style="text-align: center;">{{user.date_travel | date:'dd/MM/yyyy' }}</td>
            <td title="'Hora Sair'" filter="{ 'time_travel': 'text'}" sortable="'time_travel'" valign="middle" style="text-align: center;">{{user.time_travel |date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
            <td title="'Criado'" sortable="'createdAt'" valign="middle" style="text-align: center;">
            {{user.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
            <td title="'Estatus'" filter="{ status: 'select'}"  filter-data="st" sortable="'status'" style="text-align: center; padding-top: 0px !important">
              <md-button class="md-icon-button"  aria-label="Bilhete">
                <md-icon ng-class="user.status == true ? 'fas fa-check-circle fa-2x' : 'fas fa-times-circle fa-2x'" style="height: 40px;"></md-icon>
              </md-button>
            </td>
            <td title="'Op'" style="text-align: center; padding-top: 0px !important">
             <md-switch style="margin:auto" ng-disabled="false" aria-label="Pare Bilhete" ng-model="user.status"  ng-change="statusTicket(user.id,$index)">
              {{user.status ? "OK" : "Cancelado"}}
            </md-switch>
          </td>

          <td title="'Ver'" style="text-align: center;"">
            <md-button flex title="Launch options" aria-label="Options" class="md-icon-button launch fas fa-external-link-square-alt  fa-2x md-accent"  style="text-align: center; padding-top: 0px !important" ng-click="viewTicket(user.id)">                
            </md-button>
          </td>
        </tr>
      </table>

    </md-content>
  </md-tab>
  <% } %>
</md-tabs>
</md-card-content>
</md-card>

</div>
</div>

</md-content>
</section>
