<md-dialog aria-label="Passageiro">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Passageiro edição</h2>
				<span flex></span>

			</div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Nome</label>
					<input ng-model="dataUser.name">
				</md-input-container>
				<md-input-container>
					<label>CPF</label>
					<input ng-model="dataUser.cpf">
				</md-input-container>
				<md-input-container>
					<label>Identificação</label>
					<input ng-model="dataUser.identified">
				</md-input-container>
				<md-input-container>
					<label>Telefone</label>
					<input ng-model="dataUser.phone" type="phone">
				</md-input-container>
				<md-input-container >
					<label>Email</label>
					<input ng-model="dataUser.email" type="email" >
				</md-input-container>
				<md-input-container style="min-width:50%;">
					<label for="address">Endereço</label>
					<textarea name="address" ng-model="dataUser.address"></textarea> 
				</md-input-container>
				<md-input-container>
					<md-switch ng-model="dataUser.status">Estatus: {{dataUser.status ? "Activo" : "Inactivo"}}</md-switch>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button class="md-accent md-raised" ng-click="save()">
				Recadastro
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>