
<footer ng-controller="footer" ng-cloak class="footer foot" > 
	<md-toolbar class="md-hue-2" style="height: 100%">

		<div  layout="row" style="margin-left: auto; margin-right: auto" flex>
			<p style="margin-top: 4%; font-size: 70%;">
				<small >© Hiande Turismo.</small>
				<small>{{msg}} </small><br>       
				<small>Desenvolvido por <a href="https://www.linkedin.com/in/adrian-pe%C3%B1aloza-b01755121/" target="_blank">AJPR</a></small>       
			</p>
		</div> 

	</md-toolbar>

</footer>