 <header>
  
 <div ng-controller="navbar" class="md-whiteframe-4dp">
  
 <md-content>
 <md-toolbar class="md-hue-2">
    
     <div style="margin-left: 10px; padding-top: 5px;">
      <div class="md-toolbar-tools ">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" >
              <md-icon class="fas fa-bars fa-2x"></md-icon>
          </md-button>
        
          <h2 flex md-truncate>{{::title}}
          <img src="/images/icon.png" alt="Hiande" height="48" style="position: relative;margin-left: -25px; margin-top:-15px">
          </h2>
          <h3  hide-xs md-truncate>{{::name}}</h3>
            
       
          <md-button ng-if="name" class="md-icon-button" aria-label="Favorite" ng-click="logout()">
              <md-icon class="fas fa-sign-out-alt fa-2x"></md-icon>
          </md-button>
      </div>
        
          
         
     </div> 
      
    </md-toolbar>
</md-content>
 </div>

 </header>
 