<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Painel de opções</h1>
</md-toolbar>
<md-content layout-padding="" ng-controller="sidebar">

   <accordion close-others="oneAtATime">


    <accordion-group is-open="status.open">
        <accordion-heading >
            <p><span ng-class="{'fas fa-caret-down': status.open, 'fas fa-caret-right': !status.open}" style="margin-right: 10px;"></span> Painel</p>
        </accordion-heading>
        <% if (profile.viewdashboard){ %>
        <md-list class="listdemoListControls">
            <md-list-item ng-click="">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>Dashboard</p>
            </md-list-item>

        </md-list>
        <% } %>
        <% if (profile.sales){ %>
        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/sales')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Vendas</p>
            </md-list-item>

        </md-list>
        <% } %>
        <% if (profile.routes){ %>
        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/destinations')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Linhas</p>
            </md-list-item>

        </md-list>
        <% } %>
        <% if (profile.ships){ %>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/ships')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Barcos</p>
            </md-list-item>

        </md-list>

        <% } %>
        <% if (profile.passenger){ %>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/passengers')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Passageiros</p>
            </md-list-item>

        </md-list> 
        <% } %>
        <% if (profile.reports){ %>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/reports')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Relatorios</p>
            </md-list-item>

        </md-list>
        <% } %>

    </accordion-group> 
    <% if (profile.viewprofile){ %>
   
    <accordion-group is-open="status.open2">
        <accordion-heading >
            <p><span ng-class="{'fas fa-caret-down': status.open, 'fas fa-caret-right': !status.open}" style="margin-right: 10px;"></span> Perfis</p>
        </accordion-heading>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/profiles')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>Consulta de Perfis</p>
            </md-list-item>

        </md-list>

    </accordion-group>
                <% } %>
<% if (profile.viewusers){ %>

    <accordion-group is-open="status.open3">
        <accordion-heading >
            <p><span ng-class="{'fas fa-caret-down': status.open, 'fas fa-caret-right': !status.open}" style="margin-right: 10px;"></span> Usuarios</p>
        </accordion-heading>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/users')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>Consulta e edição</p>
            </md-list-item>

        </md-list>
    </accordion-group>
    
                <% } %>
    <% if (profile.viewmyaccount){ %>

    <accordion-group is-open="status.open4">
        <accordion-heading >
            <p><span ng-class="{'fas fa-caret-down': status.open, 'fas fa-caret-right': !status.open}" style="margin-right: 10px;"></span>Opções de Conta</p>
        </accordion-heading>

        <md-list class="listdemoListControls">
            <md-list-item ng-click="navigateTo('/myaccount')">
                <p><span class="fas fa-caret-right" style="margin-right: 10px;"></span><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>Minha conta</p>
            </md-list-item>

        </md-list>



    </accordion-group>
    <% } %>

</accordion>     


</md-content>

</md-sidenav>
