<section layout="row" flex="" style="" class="resp_height" id="popupContainer">
	<%- partial('../template/sidebar.ejs') %>

	<md-content flex="" layout-padding="" style="padding:0;" >

		<div ng-controller="ships" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
			<div  layout="column">
				<p class="bar"><a href="/">Principal</a> > <a href="/ships">Barcos</a></p>
			</div>

			<div layout="column" ng-cloak >

				<md-card >
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Barcos</span>

						</md-card-title-text>
					</md-card-title>

					<md-card-content>
						<div layout-gt-xs="row" style="height: 390px !important">
							<div layout-gt-xs="column" flex-gt-xs="50">

								<md-content  flex-gt-xs="100"  style=" margin-right: 20px" class="md-whiteframe-4dp">
									<md-button class="md-fab md-primary md-mini md-fab-bottom-right" aria-label="Use Android" ng-click="showAdvanced($event)">
										<i class="fas fa-plus" ></i>
									</md-button>    
									<md-content flex>
										<md-list class="md-dense">
											<md-subheader class="md-no-sticky" >Barco: {{shipSel.description}}</md-subheader>
											<md-divider ></md-divider>
											<md-list-item class="md-2-line" ng-repeat="item in ship" ng-click="saveIndexS($index)" >
												<div class="md-list-item-text" layout="column" >
													<h3>{{ item.name }}</h3>
													<!-- <p>{{ item.identified }}</p> -->
												</div>
												<md-divider ></md-divider>
											</md-list-item>
										</md-list>

									</md-content>
								</md-content>
							</div>
							<div layout-gt-xs="column" flex-gt-xs="50">

								<md-content  flex-gt-xs="100"  style=" margin-right: 20px ; padding: 10px;" class="md-whiteframe-4dp">
									<div layout="row">
										<md-input-container flex style="margin-bottom: 0px !important">
											<label for="name">Nome de Barco</label>
											<input type="text" name="name" ng-model="shipSel.name">
										</md-input-container>
									</div>
									<div layout="row">
										<div layout="column" flex='35'>
											<md-checkbox ng-model="shipSel.status_suit" aria-label="Suit" style="margin-top:20px !important">
												Suit: 
											</md-checkbox>
										</div>
											<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>

										<div layout="column" flex='60'>
											<md-input-container style="margin-bottom: 0px !important" >
												<label for="name">Cantidade lugares</label>
												<input type="number" name="name" ng-disabled="!shipSel.status_suit" ng-model="shipSel.cant_suit">
											</md-input-container>
										</div>
									</div>
									<div layout="row">
										<div layout="column" flex='35'>
											<md-checkbox ng-model="shipSel.status_cabins" aria-label="Suit" style="margin-top:20px !important">
												Camarote: 
											</md-checkbox>
										</div>
										<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>
										<div layout="column" flex='60'>
											<md-input-container style="margin-bottom: 0px !important">
												<label for="name">Cantidade lugares</label>
												<input type="number" name="name" ng-disabled="!shipSel.status_cabins" ng-model="shipSel.cant_cabins">
											</md-input-container>
										</div>
									</div>
									<div layout="row">
										<div layout="column" flex='35'>
											<md-checkbox ng-model="shipSel.status_generic" aria-label="Suit" style="margin-top:20px !important" >
												Lugares: 
											</md-checkbox>
										</div>
										<p layout="column" flex='5' style="margin-top: 20px !important"> > </p>
										<div layout="column" flex='60'>
											<md-input-container style="margin-bottom: 0px !important">
												<label for="name">Cantidade lugares</label>
												<input type="number" name="name" ng-disabled="!shipSel.status_generic" ng-model="shipSel.cant_generic">
											</md-input-container>
										</div>
									</div>

									<md-button class="md-primary md-raised" ng-click="saveShip()" style="float: right;">
										CADASTRO
									</md-button>
								</md-content>
								
							</div>
						</div>

					</md-card-content>
				</md-card>
			</div>
		</div>
	</md-content>

</section>