
<section layout="row" flex="" style="" class="resp_height" id="popupContainer">
  <%- partial('../template/sidebar.ejs') %>

  <md-content flex="" layout-padding="" style="padding:0;" >

    <div ng-controller="captain as ctrl" flex ng-cloak  class="" style=" padding-left: 20px; padding-top: 30px; background-image: url('/images/fondo2.png'); height: 100%;">
      <div  layout="column">
        <p class="bar"><a href="/">Principal</a>  > <a href="/destination">Capitao</a></p>
      </div>

      <div layout="column" ng-cloak>
        <md-card >
       <!--  <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Linhas e Cidades</span>

          </md-card-title-text>
        </md-card-title>
      -->
      <md-card-content style="padding-top: 1px !important; padding-left: 0px; padding-right: 0px;">

        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
          <md-tab label="Dashboard">
                     
           <md-content class="md-padding" layout-gt-xs="row">
            <div layout="column" flex-gt-xs="35" style=" min-height: 390px; margin-bottom: 5px">
               
              <md-content  flex-gt-xs="50"  style=" margin-right: 10px" class="md-whiteframe-4dp">  
                <md-subheader class="md-no-sticky">Barco: {{shipSel.name}}</md-subheader>
                <md-divider></md-divider>
                <md-content  flex-gt-xs>
                  <md-list class="md-dense" style="max-height: 145px !important;">

                    <md-list-item class="md-2-line" ng-repeat="item in ship" ng-click="selectShip($index)" >
                      <div class="md-list-item-text" layout="column" >
                        <h3>{{ item.name }}</h3>
                        <!-- <p>{{ item.identified }}</p> -->
                      </div>
                      <md-divider></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-content>

              <md-content  flex-gt-xs="50"  style="margin-top: 5px;height: 145px; margin-right: 10px;" class="md-whiteframe-4dp">

                <md-subheader class=  "md-no-sticky" >Linha: {{linhaSel.description}}</md-subheader>
                <md-divider></md-divider>

                <md-content  flex-gt-xs>

                  <md-list class="md-dense"  style="max-height: 145px !important;">
                    <md-divider ></md-divider>
                    <md-list-item class="md-2-line" ng-repeat="item in linhas" ng-click="selectLinhas($index)" >
                      <div class="md-list-item-text" layout="column" >
                        <h3>{{ item.description }}</h3>
                        <!-- <p>{{ item.identified }}</p> -->
                      </div>
                      <md-divider ></md-divider>
                    </md-list-item>
                  </md-list>


                </md-content>
              </md-content>


            </div>
            <div layout="column" flex-gt-xs="65" style="padding-left: 10px;">

              <md-content flex="100">

               <calendar-md flex layout layout-fill
               calendar-direction="direction"
               on-prev-month="prevMonth"
               on-next-month="nextMonth"
               on-day-click="dayClick"
               week-starts-on="weekStartsOn"
               no-of-days="30"
               title-format="'MMMM y'"
               ng-model='selectedDate'
               data-start-month="2"
               data-start-year="2018"
               tooltips="tooltips"
               day-format="dayFormat"
               day-label-format="'EEE'"
               day-label-tooltip-format="'EEEE'"
               day-tooltip-format="'fullDate'"
               day-content=""
               disable-future-selection="false"
               ></calendar-md>
             </md-content>

           </div>

         </md-content>
         <md-button class="md-raised md-accent" style="float:right" ng-click="next()"> Proximo</md-button>
       </md-tab>
       <md-tab label="Chart" ng-disabled="!(selectedIndex===1)">
        <md-content class="md-padding" layout="column" >
          <div layout-gt-xs="row" ng-if="status.generic">

            <div layout="column" style="" flex-gt-xs="50" id="chartContent1" >
              <label for="pie1" style="text-align: center;" > Vendas {{shipSel.name}}</label>
              <p  style="text-align: center;" > {{linhaSel.description}} - {{dateSelected | date:"dd/MM/yyyy"}}</p>
              <canvas id="pie1" class="chart chart-pie"
              chart-data="data1" chart-labels="labels" chart-options="options">
            </canvas> 
          </div>


          <div layout="column" style="" flex-gt-xs="50">

            <h2>Lugares</h2>
            <!--  <span> Limite de Lugares {{limit_agency.generic}}</span> -->

            <span style="text-align: center;align-items: center;" ng-if="!loading1">          
              <font size="6">Vendido: {{sold.generic}}</font><br> 
              <font size="6">Disponível: {{total_sold_g}}</font>  <br>
              <md-button class="md-raised md-primary" ng-click="printList(1)">Exportar Listagem</md-button>
              <md-switch style="margin:auto; width: 190px" aria-label="Pare Vendas" ng-model="statusSale_g"  ng-change="stopSales(1)">Vendas {{statusSale_g ? "Abertas" : "Fechadas"}}
              </md-switch>

             <!--  <md-button class="md-accent">Pare Vendas</md-button> -->
            </span>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading1" style="margin: auto;">
                  <md-progress-circular style="padding: auto;" md-mode="indeterminate"  md-diameter="85px"></md-progress-circular>
            </div>

          </div>
        </div>
        <md-divider></md-divider>
        <div layout-gt-xs="row" ng-if="status.cabins">

          <div layout="column" style="" flex-gt-xs="50" id="chartContent2" >
            <label for="pie2" style="text-align: center;" > Vendas {{shipSel.name}}</label>
            <p  style="text-align: center;" > {{linhaSel.description}} - {{dateSelected | date:"dd/MM/yyyy"}}</p>
            <canvas id="pie2" class="chart chart-pie"
            chart-data="data2" chart-labels="labels" chart-options="options">
          </canvas> 
        </div>
        <div layout="column" style="" flex-gt-xs="50" >
          <h2>Camarotes</h2>

          <!--  <span>Limite de Camarotes {{limit_agency.cabins}}</span> -->

          <span style="text-align: center;" ng-if="!loading2">          

            <font size="6"><!-- <p style="width: 20px; height:15px;background-color: red"></p> -->Vendido: {{sold.cabins}}</font> <br>
            <font size="6">Disponível: {{total_sold_c}}</font>  <br>
            <md-button class="md-raised md-primary" ng-click="printList(2)">Exportar Listagem</md-button>
             <md-switch style="margin:auto; width: 190px" ng-disabled="false" aria-label="Pare Vendas" ng-model="statusSale_c"  ng-change="stopSales(2)">
                Vendas {{statusSale_c ? "Abertas" : "Fechadas"}}
              </md-switch>
          </span>
           <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading2" style="margin: auto;">
                  <md-progress-circular style="padding: auto;" md-mode="indeterminate"  md-diameter="85px"></md-progress-circular>
            </div>
        </div>
      </div>
      <md-divider></md-divider>

      <div layout-gt-xs="row" ng-if="status.suit">
        <div layout="column" style="" flex-gt-xs="50" id="chartContent3" >
          <label for="pie3" style="text-align: center;" > Vendas {{shipSel.name}}</label>
          <p  style="text-align: center;" > {{linhaSel.description}} - {{dateSelected | date:"dd/MM/yyyy"}}</p>
          <canvas id="pie3" class="chart chart-pie"
          chart-data="data3" chart-labels="labels" chart-options="options">
        </canvas> 
      </div>
      <div layout="column" style="" flex-gt-xs="50" >
        <h2>Suit´s</h2>
        
        <!-- <span>Limite de Suit's {{limit_agency.suit}}</span> -->

        <span style="text-align: center;" ng-if="!loading3">          
          <font size="6">Vendido: {{sold.suit}}</font> <br>
          <font size="6">Disponível: {{total_sold_s}}</font> <br> 
          <md-button class="md-raised md-primary" ng-click="printList(3)">Exportar Listagem</md-button>
           <md-switch style="margin:auto; width: 190px" ng-disabled="false" aria-label="Pare Vendas" ng-model="statusSale_s"  ng-change="stopSales(3)">
                Vendas {{statusSale_s ? "Abertas" : "Fechadas"}}
              </md-switch>
        </span>
         <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading3" style="margin: auto;">
                  <md-progress-circular style="padding: auto;" md-mode="indeterminate"  md-diameter="85px"></md-progress-circular>
        </div>
      </div>
    </div>
  </md-content>
  <md-button class="md-raised md-accent" style="float:left" ng-click="prev()"> Anterior</md-button>
</md-tab>
</md-tabs>
</md-card-content>

</md-card>
</div>
</div>
</md-content>
</section>''