.footer{
  position:absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  position: fixed;
}
#form_dscto md-input-container{
  margin-bottom: 0px;
   
}
#form_dscto md-input-container label{
color:rgba(0,0,0,0.5);

}
#form_dscto md-input-container.md-input-focused label{
color:rgb(81,45,168);

}

#form_dscto md-input-container .md-input{
   border-color:rgba(0,0,0,0.2); 
}
@media screen and (max-width: 500px) {
       table {
           width:100%;
       }
       thead {
           display: none;

       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
        content: attr(data-th);
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}

md-list{
  padding-top: 0px !important;
}
.padding_bottom{
  margin-bottom: 0px !important;
}
.fas {
  vertical-align: middle !important;
}
.md-datepicker-input-container:{width:100% !important;}
.md-datepicker-input:{width:100% !important;}
@media(min-width: 500px){
  .name{
   width: 50px;
 }
 }@media(max-width: 499px){
  .name{
   width: 70px;
 }
}
.bar{
  cursor: pointer;
  font-weight:bold;
}

.contenedor{

  float:left; width: 270px; height:140px; margin-bottom: 10px; margin-top: 10px; margin-right: 10px; background-color: rgb(240,240,240);

}

@media(max-width: 587px){
  .contenedor{
   float: inherit; width: 270px; height:140px; margin-bottom: 10px; margin-top: 10px; margin-right: auto; margin-left: auto; background-color: rgb(240,240,240);
 }

}
@media(max-width: 250px){
  .contenedor{
   float: inherit; width: 170px; height:130px; margin-bottom: 10px; margin-top: 10px; margin-right: auto; margin-left: auto; background-color: rgb(240,240,240);
 }
}
.content_city{

  width: 110px; height:70px; margin-bottom: 10px; margin-top: 10px; margin-right: 10px; background-color: rgb(240,240,240);

}

@media(min-width: 1280px){
  .responsive{
   margin-left: 315px;
 }
}

@media (max-height: 450px){
  .resp_height{
   height:77%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 451px) and (max-height: 500px){
  .resp_height{
   height:78.5%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 501px) and (max-height: 550px){
  .resp_height{
   height:80%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 551px) and (max-height: 600px){
  .resp_height{
   height:80.5%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 601px) and (max-height: 650px){
  .resp_height{
   height:81.4%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 651px) and (max-height: 700px){
  .resp_height{
   height:82.3%;
 }
 .foot{
   height: 8%;
 }
}
@media (min-height: 701px) and (max-height: 764px){
  .resp_height{
   height:83.5%;
 }
 .foot{
   height: 8%;
 }
}
@media(min-height: 765px) and (max-height: 850px){
  .resp_height{
   height:84.5%;
 }
 .foot{
   height: 7%;
 }
}
@media(min-height: 851px) and (max-height: 899px){
  .resp_height{
   height:85%;
 }
 .foot{
   height: 7%;
 }
}
@media(min-height: 900px) and (max-height: 954px){
  .resp_height{
   height:86.5%;
 }
 .foot{
   height: 6%;
 }
}
@media(min-height: 955px)  and (max-height: 1050px){
  .resp_height{
   height:87%;
 }
 .foot{
   height: 6%;
 }
}
@media(min-height: 1051px){
  .resp_height{
   height:87.6%;
 }
 .foot{
   height: 6%;
 }
}